{%extends 'base.html' %}

{%block title%} Contact {%endblock%}

{%block content%}

<h1>Contact Chris</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">

        <label for="exampleInputEmail1"> {{ field.label_tag }}</label>

        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text}}</small>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  
{%endblock%}