<div class="row align-items-start mt-5">
    <div class="col-md-4 justify-content-center">

        {%if object.image_url%}
        <figure class="figure">
            <img src="{{object.image_url.url}}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">{{object.image_description}}</figcaption>
        </figure>
        {%else%}
        <figure class="figure">
            <img src="" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">You haven't uploaded an image yet</figcaption>
        {%endif%}
    </div>
    <div class="col-md-8">
        <h3>{{section.subtitle}}</h3>
        <p class="pt-1">{{object.content}}</p>
        <!-- text content goes here -->
    </div>
</div>